# Ani Biome: initial model

In [7]:
from pandas import util
df = util.testing.makeMixedDataFrame().rename(columns=dict(A="distance", B="radius", C="type", D="date"))
df.head()

   distance  radius  type       date
0       0.0     0.0  foo1 2009-01-01
1       1.0     1.0  foo2 2009-01-02
2       2.0     0.0  foo3 2009-01-05
3       3.0     1.0  foo4 2009-01-06
4       4.0     0.0  foo5 2009-01-07